
---
import "../styles/global.css";
import { 
  SITE_TITLE, 
  KEYWORDS, 
  OG_IMAGE, 
  FAVICON, 
  COMPANY_NAME, 
  ADDRESS_CITY, 
  ADDRESS_STATE, 
  ADDRESS_ZIP, 
  ADDRESS_LINE_1, 
  PHONE_NUMBER, 
  EMAIL_ADDRESS, 
  WEBSITE_DOMAIN_COMPLETE,
  FACEBOOK_URL,
  INSTAGRAM_URL,
  YELP_URL,
CITY_AND_STATE
} from "../data/consts";

interface Props {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
}

const canonicalURL = Astro.url.href;

const {
  title,
  description,
  image = OG_IMAGE,
  keywords = KEYWORDS,
} = Astro.props;
---


<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href={FAVICON} />

<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->


<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<!-- Generator -->
<meta name="generator" content={Astro.generator} />

<!-- SiteMap -->
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={"/rss.xml"}
/>

<!-- Google Tag Manager -->
<script type="text/javascript" is:inline>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N49DDGFF');
</script>

<!-- Schema -->
<script type="application/ld+json" is:inline set:html={JSON.stringify({
  "@context": "https://schema.org",
  "@type": "FlightSchool",
  "name": COMPANY_NAME,
  "alternateName": `${COMPANY_NAME} Inc`,
  "url": WEBSITE_DOMAIN_COMPLETE,
  "logo": `${WEBSITE_DOMAIN_COMPLETE}/favicon.png`,
  "image": `${WEBSITE_DOMAIN_COMPLETE}/og-image.png`,
  "description": description,
  "telephone": `+1${PHONE_NUMBER.replace(/\D/g, '')}`,
  "email": EMAIL_ADDRESS,
  "currenciesAccepted": "USD",
  "priceRange": "$$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": ADDRESS_LINE_1,
    "addressLocality": ADDRESS_CITY,
    "addressRegion": "CA",
    "postalCode": ADDRESS_ZIP,
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 34.738306,
    "longitude": -118.218611
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
      "opens": "08:00",
      "closes": "17:00"
    }
  ],
  "sameAs": [
    FACEBOOK_URL,
    INSTAGRAM_URL,
    YELP_URL
  ].filter(url => url !== ""),
  "areaServed": {
    "@type": "Place",
    "name": [CITY_AND_STATE, "Antelope Valley", "Palmdale, CA", "Southern California"]
  },
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Professional Pilot Training Programs",
    "itemListElement": [
      { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Private Pilot Training" } },
      { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Instrument Rating Training" } },
      { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Commercial Pilot Training" } },
      { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Multi-Engine Training" } },
      { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Aviation Maintenance (FAA Part 145)" } }
    ]
  }
})}>
</script>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={COMPANY_NAME} />
<meta name="geo.region" content="US-CA" />
<meta name="geo.placename" content={ADDRESS_CITY} />
<meta name="geo.position" content="34.738306;-118.218611" />
<meta name="ICBM" content="34.738306, -118.218611" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content={COMPANY_NAME} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Preconnect to external domains to improve performance -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://www.googletagmanager.com" />
<link rel="preconnect" href="https://widgets.leadconnectorhq.com" />

<!-- Additional mobile-friendly meta tags -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="theme-color" content="#1e40af" />
<meta name="mobile-web-app-capable" content="yes" />