---
import ImageComp from "./ImageComp.astro";

interface Props {
  data: {
    eyebrow: string;
    headline: string;
    bodyCopy: string;
    image: {
      src: string;
      alt: string;
    };
    cta?: {
      text?: string;
      href?: string;
    }
  };
}

const { data } = Astro.props;
---

<section class="py-16 md:py-24 bg-ink-950 overflow-hidden">
  <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      
      <div class="reveal opacity-0 -translate-x-8 transition-all duration-1000 ease-out delay-200">
        <p
          class="text-ochre-600 font-bold uppercase tracking-widest text-sm mb-2"
        >
          {data.eyebrow}
        </p>
        <h2 class="title !text-[2.5rem] uppercase !font-main-header tracking-wide !text-ink-50 mb-6" set:html={data.headline}>
        </h2>
        <p class="font-sans text-ink-50 leading-relaxed" set:html={data.bodyCopy}>
        </p>
        {
          data.cta &&  (<a href="/about#repair-station" class="btn-primary !max-w-[283px] mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5" viewBox="0 0 24 24"><path fill="currentColor" d="M19.249 6.872a1 1 0 0 1 1.645.36a7.001 7.001 0 0 1-8.912 9.037l-4.013 4.013a3 3 0 1 1-4.243-4.243l4.013-4.013a7 7 0 0 1 9.025-8.917a1 1 0 0 1 .36 1.645L14.768 7.11a1.5 1.5 0 0 0 2.121 2.122z"/></svg>
            Discover Our Repair Station
            </a>)
        }
      </div>

      <div class="reveal h-96 md:h-[600px] min-h-[400px] opacity-0 translate-x-8 transition-all duration-1000 ease-out">
        <ImageComp
          src={data.image.src}
          alt={data.image.alt}
          class="w-full h-full object-cover object-center rounded-sm shadow-xl"
        />
      </div>

    </div>
  </div>
</section>

<script>
  const observerOptions = {
    root: null,
    threshold: 0.1,
    rootMargin: "0px 0px -50px 0px"
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove('opacity-0', 'translate-x-8', '-translate-x-8');
        entry.target.classList.add('opacity-100', 'translate-x-0');
        observer.unobserve(entry.target);
      }
    });
  }, observerOptions);

  document.querySelectorAll('.reveal').forEach((el) => observer.observe(el));
</script>